<section class="w-75 mx-auto py-5">

    <h2>Update user password :</h2>
    <form [formGroup]="formUpdatePass" (ngSubmit)="updatePassword(formUpdatePass)">
        
        <label for="currentPassword">Current Password:</label>
        <input type="password" class="form-control mb-3" id="currentPassword" formControlName="currentPassword">
        <div *ngIf="formUpdatePass.get('currentPassword')?.errors && formUpdatePass.get('currentPassword')?.touched" class="alert alert-danger my-2">
            <p *ngIf="formUpdatePass.get('currentPassword')?.getError('required')" class="m-0">Current Password is required</p>
        </div>
        <div *ngIf="errorMsg"  class=" mx-auto my-2 alert alert-danger">{{errorMsg}}</div>

        
        <label for="password">Password:</label>
        <input type="password" class="form-control mb-3" id="password" formControlName="password">

        <div *ngIf="formUpdatePass.get('password')?.errors && formUpdatePass.get('password')?.touched" class="alert alert-danger my-2">
            <p *ngIf="formUpdatePass.get('password')?.getError('pattern')">Must contain a lowercase letter (a-z).</p>
            <p *ngIf="formUpdatePass.get('password')?.getError('pattern')">Must contain an uppercase letter (A-Z).</p>
            <p *ngIf="formUpdatePass.get('password')?.getError('pattern')" >Must contain a number (0-9).</p>
            <p *ngIf="formUpdatePass.get('password')?.getError('pattern')">Must contain a special character (@$!%*?&).</p>
            <p *ngIf="formUpdatePass.get('password')?.getError('required')">Must be at least 8 characters long.</p>
        </div>
        
        <label for="rePassword">RePassword:</label>
        <input type="password" class="form-control mb-3" id="rePassword" formControlName="rePassword">
        
        <div *ngIf="formUpdatePass.get('rePassword')?.errors && formUpdatePass.get('rePassword')?.touched" class="alert alert-danger my-2">
            <p *ngIf="formUpdatePass.get('rePassword')?.getError('passwordmatch')">repassword is not matched.</p>
            <p *ngIf="formUpdatePass.get('rePassword')?.getError('required')">Must be at least 8 characters long.</p>
        </div>

        <div class="d-flex  flex-column flex-wrap align-content-center">
            <button mat-button [disabled]="formUpdatePass.invalid" type="submit" class="btn bg-main text-white d-block ms-auto">
                <i *ngIf="isLoading" class="fa-solid fa-circle-notch fa-spin"></i>
                <span *ngIf="!isLoading">Update Password</span>
            </button>
        </div>
    </form>
</section>