<div class="px-5 bg-main-light">
    <h3 class="fw-bold pt-5">Get The Freshcart app</h3>
    <p class="lead text-muted">We will send you a link, Open it in your phone to download App.</p>
    <div class="row border-bottom g-4 justify-content-center p-3">
        <div class="col-lg-10">
            <input class=" form-control   " type="text" placeholder="Email...">
        </div>
        <div class="col-lg-2">
            <button class="btn bg-main text-white w-100 "> Share App Link</button>
        </div>
    </div>

    <div class="row d-flex justify-content-between align-items-center">
        <div class=" d-flex align-items-center col-md-6">
            <p class="px-3 fw-bold m-0">Payment Partners</p>
            <div class="right-img-amazon"> 
                <img class="amazon img-fluid" src="./assets/footer/amazonpay.4c19657621827b32a540.png" alt="amazonpay">
            </div>
            <div class="right-img"> 
                <img class="img-fluid" src="./assets/footer/americanexpress.23e3b98512ffad5d0ad1.png" alt="americanexpress">
            </div>
            <div class="right-img"> 
                <img class="img-fluid" src="./assets/footer/mastercard.c1c3f1e9c8aad6e536df.png" alt="mastercard">
            </div>
            <div class="right-img"> 
                <img class="img-fluid" src="./assets/footer/paypal.e3abf7ded251409784b6.png" alt="paypal">
            </div>
        </div>

        <div class="d-flex  align-items-center justify-content-end col-md-6">
            <p class="px-3 fw-bold m-0">Get deliveries with FreshCart</p>
            <div class="left-img">
                <img class="img-fluid" src="./assets/footer/appstore.11156c0c81561772662d.png" alt="appstore">
            </div>
            <div class="left-img">
                <img class="img-fluid" src="./assets/footer/googleplay.88c0cf672ae4dd873d7f.png" alt="googleplay">
            </div>
        </div>
    </div>
</div>