<section class="row g-4 pb-5">
    <div class="col-md-9">
        <owl-carousel-o  [options]="customOptions">
            <ng-template  carouselSlide><img src="./assets/images/slider-2.jpeg" alt="slider"></ng-template>  
            <ng-template  carouselSlide><img src="./assets/images/grocery-banner-2.jpeg" alt="grocery-banner"></ng-template>  
            <ng-template  carouselSlide><img src="./assets/images/grocery-banner.png" alt="grocery-banner"></ng-template>  
        </owl-carousel-o>
    </div>
    <div class="col-md-3 d-flex justify-content-start fit flex-column  align-items-center">
        <div>
            <img class="img-fluid rounded-2" src="./assets/images/1.9d04b32ab3afa179eee0.png" alt="grocery-banner">
        </div>
        <div>
            <img class="img-fluid rounded-2"  src="./assets/images/2.9c5c90b028d6755d9efd.png" alt="grocery-banner">
        </div>
    </div>
</section>