<div *ngIf="!hideEmail" class=" my-5 py-5">
    <h3>enter your email to send code.</h3>
    <form [formGroup]="forgotPasswords" (ngSubmit)="forgotPassword(forgotPasswords)">
        <label for="email">Email:</label>
        <input type="email" class="form-control mb-3" id="email" formControlName="email">
        <button [disabled]="forgotPasswords.invalid" type="submit" class="btn bg-main text-white d-block mb-3 mx-auto">
            <i *ngIf="isLoading" class="fa-solid fa-circle-notch fa-spin"></i>
            <span *ngIf="!isLoading">send code</span>
        </button>
    </form>
    <div *ngIf="errorEmail" class="w-50 text-center alert alert-danger mx-auto"> Email not found </div>
</div>

<div *ngIf="hideCode" class=" my-5 py-5">
    <div *ngIf="msg" class="w-50 text-center alert alert-success mx-auto mb-5">{{msg }} <i class="fa-solid fa-envelope fa-2xl"></i> </div>
    <h3>enter the code.</h3>
    <form [formGroup]="resetCode" (ngSubmit)="verifyResetCode(resetCode)">
        <label for="resetCode">code:</label>
        <input type="text" class="form-control mb-5" id="resetCode" formControlName="resetCode">
        <button [disabled]="forgotPasswords.invalid" type="submit" class="btn bg-main text-white d-block mb-3 mx-auto">
            <i *ngIf="isLoading" class="fa-solid fa-circle-notch fa-spin"></i>
            <span *ngIf="!isLoading">send code</span>
        </button>
    </form>
    <div *ngIf="errorcode" class="w-50 text-center alert alert-danger mx-auto"> The code is wrong </div>
</div>

<div *ngIf="reset" class=" my-5 py-5">
    <form [formGroup]="resetPass" (ngSubmit)="resetPassword(resetPass)">
        <label for="email">Email:</label>
        <input type="email" class="form-control mb-3" id="email" formControlName="email">
        <div *ngIf="resetPass.get('email')?.errors && resetPass.get('email')?.touched" class="alert alert-danger my-2">
            <p *ngIf="resetPass.get('email')?.getError('email')" class="m-0">Email is invalid</p>
            <p *ngIf="resetPass.get('email')?.getError('required')" class="m-0">Email is required</p>
        </div>
        <label for="newPassword">enter new Password:</label>
        <input type="password" class="form-control mb-3" id="newPassword" formControlName="newPassword">
        <div *ngIf="resetPass.get('newPassword')?.errors && resetPass.get('newPassword')?.touched" class="alert alert-danger my-2">
            <p *ngIf="resetPass.get('newPassword')?.getError('pattern')">Must contain a lowercase letter (a-z).</p>
            <p *ngIf="resetPass.get('newPassword')?.getError('pattern')">Must contain an uppercase letter (A-Z).</p>
            <p *ngIf="resetPass.get('newPassword')?.getError('pattern')" >Must contain a number (0-9).</p>
            <p *ngIf="resetPass.get('newPassword')?.getError('pattern')">Must contain a special character (@$!%*?&).</p>
            <p *ngIf="resetPass.get('newPassword')?.getError('required')">Must be at least 8 characters long.</p>
        </div>
        <button [disabled]="resetPass.invalid" type="submit" class="btn bg-main text-white d-block mb-3 mx-auto">
            <i *ngIf="isLoading" class="fa-solid fa-circle-notch fa-spin"></i>
            <span *ngIf="!isLoading">reset</span>
        </button>
        <div *ngIf="msg"  class=" text-center  my-2 alert alert-danger">{{msg}} , Please write the correct e-mail</div>
    </form>
</div>

